html {
  font-family: Overpass, sans-serif;
}

body {
  color: #fff;
  background-image: linear-gradient(to top, #ff5e3a, #ff9500);
  background-repeat: no-repeat;
}

.btn {
  color: #fff;
  border-color: #fff;
}

.btn:hover {
  color: #ff5e3a;
  background-color: #fff;
  border-color: #fff;
}

li:nth-child(2),
li:last-child {
  border-top: 3px solid rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 60em) {

  li:nth-child(2),
  li:last-child {
    border-top: none;
    border-left: 3px solid rgba(255, 255, 255, .5);
  }

}
